$default-font: "roboto-example", sans-serif
$inter-font: "inter", sans-serif
$accent: #6966FF
$color_37: #3734d9
$white: #f8f7f7
$black: #23262F
$bg: radial-gradient(54.14% 42.42% at 50% 29.53%, #17163E 22.65%, #04030F 82.02%)
$bg_text: linear-gradient(to right, $white, $white 33.33333%, #6966FF 66.66666%, #6195BF)
$black04: #04030F
$red: #DA1921
$blue: #23A1D1
$green: #20B038